openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Brand API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Brand
paths:
  /brand.list:
    post:
      summary: brand.list
      operationId: brandList
      description: 'Lists all brands for the organization.


        **Requires the [`organizationRead`](authentication#permissions-departmentinfo) permission.**

        '
      tags:
      - Brand
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cursor:
                  type: string
                  description: Opaque cursor indicating which page of results to fetch
                  example: G8
                limit:
                  type: number
                  description: The maximum number of items to return. The maximum and default value is 100.
                  example: 25
              example:
                cursor: qA
                limit: 25
      responses:
        '200':
          description: Responses for the brand.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - allOf:
                    - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                    - title: Success response
                    - type: object
                      properties:
                        moreDataAvailable:
                          type: boolean
                          description: Whether the cursor can be used to fetch a subsequent page of data.
                        nextCursor:
                          $ref: '#/paths/~1brand.list/post/requestBody/content/application~1json/schema/properties/cursor'
                      required:
                      - moreDataAvailable
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            name:
                              type: string
                              description: The name of the brand
                            hostedJobsPageSlug:
                              type: string
                              description: The slug used for the brand's hosted jobs page URL
                          required:
                          - id
                          - name
                          - hostedJobsPageSlug
                    required:
                    - results
                - title: Error response
                  $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
