openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Feedback Form Definition API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Feedback Form Definition
paths:
  /feedbackFormDefinition.info:
    post:
      summary: feedbackFormDefinition.info
      operationId: feedbackFormDefinitionInfo
      description: 'Returns a single feedback form by id


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-feedbackformdefinitioninfo) permission.**

        '
      tags:
      - Feedback Form Definition
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - feedbackFormDefinitionId
              properties:
                feedbackFormDefinitionId:
                  allOf:
                  - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                  - description: The unique id of the feedback form you'd like to fetch.
                  - example: 9b17887e-5add-49e8-9a03-ffffa669aa2f
      responses:
        '200':
          description: Responses for the feedbackFormDefinition.info endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success Response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        allOf:
                        - $ref: '#/paths/~1referralForm.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/allOf/0'
                        - type: object
                          properties:
                            organizationId:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            isDefaultForm:
                              type: boolean
                              example: true
                            interviewId:
                              allOf:
                              - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              - description: The id of the interview associated with the feedback form.
                  - required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
  /feedbackFormDefinition.list:
    post:
      summary: feedbackFormDefinition.list
      operationId: feedbackFormDefinitionList
      description: 'Lists all feedback forms.


        See the [Pagination and Incremental Synchronization](/docs/pagination-and-incremental-sync) guide for detailed usage examples.


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-feedbackformdefinitionlist) permission.**

        '
      tags:
      - Feedback Form Definition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1department.list/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: Responses for the feedbackFormDefinition.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          $ref: '#/paths/~1feedbackFormDefinition.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results'
                  required:
                  - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
