openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Close Reason API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Close Reason
paths:
  /closeReason.list:
    post:
      summary: closeReason.list
      operationId: closeReasonList
      description: 'Lists all close reasons for jobs or openings.


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-closereasonlist) permission.**

        '
      tags:
      - Close Reason
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includeArchived:
                  type: boolean
                  default: false
                  description: Whether to include archived close reasons in the response.
      responses:
        '200':
          description: Responses for the closeReason.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success Response
                  allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          type: object
                          description: The reason a job or opening was closed
                          properties:
                            id:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              description: The reason's unique id
                            reasonText:
                              type: string
                              description: The text of the reason
                              example: Position Filled
                            isArchived:
                              $ref: '#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening/properties/isArchived'
                          required:
                          - id
                          - reasonText
                          - isArchived
                  - required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
