openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Interview Plan API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Interview Plan
paths:
  /interviewPlan.list:
    post:
      summary: interviewPlan.list
      operationId: interviewPlanList
      description: 'List published interview plans. Draft interview plans are not returned. If `includeArchived` is true, archived interview plans are also included.


        See the [Pagination and Incremental Synchronization](/docs/pagination-and-incremental-sync) guide for detailed usage examples.


        **Requires the [`interviewsRead`](authentication#permissions-interviewplanlist) permission.**

        '
      tags:
      - Interview Plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1department.list/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: Responses from the interviewPlan.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          allOf:
                          - type: object
                            properties:
                              id:
                                $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              title:
                                type: string
                                example: Engineering Interview Plan
                              isArchived:
                                $ref: '#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening/properties/isArchived'
                            required:
                            - id
                            - title
                            - isArchived
                          - type: object
                            properties:
                              createdAt:
                                $ref: '#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt'
                              updatedAt:
                                $ref: '#/paths/~1department.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/properties/updatedAt'
                            required:
                            - createdAt
                            - updatedAt
                    required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
