openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Candidate Tag API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Candidate Tag
paths:
  /candidateTag.archive:
    post:
      summary: candidateTag.archive
      description: 'Archives a candidate tag.


        **Requires the [`hiringProcessMetadataWrite`](authentication#permissions-candidatetagarchive) permission.**

        '
      operationId: candidateTagArchive
      tags:
      - Candidate Tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - tagId
              properties:
                tagId:
                  type: string
                  format: uuid
                  description: The candidate tag's unique id
                  example: e9ed20fd-d45f-4aad-8a00-a19bfba0083e
      responses:
        '200':
          description: Responses for the candidateTag.archive endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        $ref: '#/paths/~1candidateTag.create/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results'
                    required:
                    - results
                - title: Error response
                  $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
  /candidateTag.create:
    post:
      summary: candidateTag.create
      description: 'Creates a candidate tag.


        **Requires the [`hiringProcessMetadataWrite`](authentication#permissions-candidatetagcreate) permission.**

        '
      operationId: candidatetagcreate
      tags:
      - Candidate Tag
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  description: The tag's title. If a tag already exists with that title, the existing tag will be returned.
                  example: Strong candidate
      responses:
        '200':
          description: Responses for the location.create endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: object
                        description: A tag applied to a candidate
                        properties:
                          id:
                            $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            description: The tag's unique id
                          title:
                            type: string
                            example: Senior Candidate
                          isArchived:
                            $ref: '#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening/properties/isArchived'
                        required:
                        - id
                        - title
                        - isArchived
                    required:
                    - results
                - title: Error response
                  $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
  /candidateTag.list:
    post:
      summary: candidateTag.list
      operationId: candidateTagList
      description: 'Lists all candidate tags.


        See the [Pagination and Incremental Synchronization](/docs/pagination-and-incremental-sync) guide for detailed usage examples.


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-candidatetaglist) permission.**

        '
      tags:
      - Candidate Tag
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                properties:
                  includeArchived:
                    type: boolean
                    default: false
                    description: Whether archived candidate tags should be included in the response
              - $ref: '#/paths/~1surveyFormDefinition.list/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: Responses for the candidateTag.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success Response
                  allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          $ref: '#/paths/~1candidateTag.create/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results'
                  - required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
