openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Hiring Team Role API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Hiring Team Role
paths:
  /hiringTeamRole.list:
    post:
      summary: hiringTeamRole.list
      description: 'Lists the possible hiring team roles in an organization


        **Requires the [`organizationRead`](authentication#permissions-hiringteamrolelist) permission.**

        '
      operationId: hiringteamrolelist
      tags:
      - Hiring Team Role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namesOnly:
                  type: boolean
                  description: When set to true (the default), an array of role titles is returned. When set to false, an array of objects that include the id and title of the role is returned.
                  default: true
      responses:
        '200':
          description: Responses for the hiringTeamRole.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: 'namesOnly: true'
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: string
                        example:
                        - Recruiter
                    required:
                    - results
                - title: 'namesOnly: false'
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            title:
                              type: string
                              example: Recruiter
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
