openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Job Interview Plan API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Job Interview Plan
paths:
  /jobInterviewPlan.info:
    post:
      summary: jobInterviewPlan.info
      operationId: jobInterviewPlanInfo
      description: 'Returns a job''s interview plan, including activities and interviews that need to be scheduled at each stage


        **Requires the [`jobsRead`](authentication#permissions-jobinterviewplaninfo) permission.**

        '
      tags:
      - Job Interview Plan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jobId:
                  allOf:
                  - description: The id of the job to fetch an interview plan for
                  - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
              required:
              - jobId
      responses:
        '200':
          description: Responses for the jobInterviewPlan.info endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: object
                        properties:
                          jobId:
                            allOf:
                            - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                          interviewPlanId:
                            allOf:
                            - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                          stages:
                            type: array
                            items:
                              allOf:
                              - type: object
                                properties:
                                  id:
                                    $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                                  title:
                                    type: string
                                    example: Offer
                                  type:
                                    type: string
                                    example: Offer
                                  orderInInterviewPlan:
                                    type: integer
                                    example: 1006
                                    default: 0
                                  interviewStageGroupId:
                                    type: string
                                    example: 5f7b3b3b-7b1b-4b1b-8b3b-7b1b4b1b8b3b
                                required:
                                - id
                                - title
                                - type
                                - orderInInterviewPlan
                              - type: object
                                properties:
                                  activities:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                                        title:
                                          type: string
                                          example: Onsite Schedule
                                        interviews:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              id:
                                                allOf:
                                                - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                                              title:
                                                type: string
                                                example: System Architecture
                                              interviewId:
                                                allOf:
                                                - description: The id of the interview to be scheduled
                                                - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                                              interviewDurationMinutes:
                                                type: number
                                                example: 30
                                              isSchedulable:
                                                type: boolean
                                                example: true
                                      required:
                                      - id
                                      - interviews
                                required:
                                - activities
                        description: A plan for conducting job interviews.
                        required:
                        - jobId
                        - interviewPlanId
                        - stages
                    required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
