openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Department API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Department
paths:
  /department.info:
    post:
      summary: department.info
      operationId: departmentInfo
      description: 'Fetch department details by id


        **Requires the [`organizationRead`](authentication#permissions-departmentinfo) permission.**

        '
      tags:
      - Department
      requestBody:
        content:
          application/json:
            schema:
              properties:
                departmentId:
                  allOf:
                  - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                  - description: The unique id of the department whose details will be fetched
              required:
              - departmentId
              example:
                departmentId: 3ae2b801-19f6-41ef-ad28-214bd731948f
      responses:
        '200':
          description: Responses from the department.info endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: object
                        properties:
                          id:
                            $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                          name:
                            $ref: '#/paths/~1department.create/post/requestBody/content/application~1json/schema/properties/name'
                          externalName:
                            $ref: '#/paths/~1department.create/post/requestBody/content/application~1json/schema/properties/externalName'
                          isArchived:
                            $ref: '#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening/properties/isArchived'
                          parentId:
                            $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                          createdAt:
                            $ref: '#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt'
                          updatedAt:
                            type: string
                            example: '2023-09-13T21:30:57.965Z'
                            format: date-time
                          extraData:
                            $ref: '#/paths/~1location.create/post/requestBody/content/application~1json/schema/properties/extraData'
                        required:
                        - id
                        - name
                        - isArchived
                        - createdAt
                        - updatedAt
                    required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
  /department.list:
    post:
      summary: department.list
      operationId: departmentList
      description: 'Lists all departments


        See the [Pagination and Incremental Synchronization](/docs/pagination-and-incremental-sync) guide for detailed usage examples.


        **Requires the [`organizationRead`](authentication#permissions-departmentlist) permission.**

        '
      tags:
      - Department
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includeArchived:
                  $ref: '#/paths/~1source.list/post/requestBody/content/application~1json/schema/properties/includeArchived'
                cursor:
                  $ref: '#/paths/~1brand.list/post/requestBody/content/application~1json/schema/properties/cursor'
                syncToken:
                  $ref: '#/paths/~1opening.list/post/requestBody/content/application~1json/schema/properties/syncToken'
                limit:
                  $ref: '#/paths/~1brand.list/post/requestBody/content/application~1json/schema/properties/limit'
              example:
                includeArchived: false
                cursor: qA
                syncToken: 6W05prn4d
                limit: 25
      responses:
        '200':
          description: Responses for the department.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success Response
                  allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          $ref: '#/paths/~1department.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results'
                  - required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
