openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Survey Form Definition API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Survey Form Definition
paths:
  /surveyFormDefinition.info:
    post:
      summary: surveyFormDefinition.info
      operationId: surveyFormDefinitionInfo
      description: 'Returns details about a single survey form definition by id


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-surveyformdefinitioninfo) permission.**

        '
      tags:
      - Survey Form Definition
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                surveyFormDefinitionId:
                  allOf:
                  - description: The id of the survey form to fetch
                  - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
              required:
              - surveyFormDefinitionId
      responses:
        '200':
          description: Responses for the surveyFormDefinition.info endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        allOf:
                        - $ref: '#/paths/~1referralForm.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/allOf/0'
                        - type: object
                          properties:
                            surveyType:
                              $ref: '#/webhooks/surveySubmit/post/requestBody/content/application~1json/schema/properties/data/properties/surveySubmission/properties/surveyType'
                        required:
                        - id
                        - title
                        - isArchived
                        - formDefinition
                        - surveyType
                    required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
  /surveyFormDefinition.list:
    post:
      summary: surveyFormDefinition.list
      operationId: surveyFormDefinitionList
      description: 'Lists all survey form definitions.


        See the [Pagination and Incremental Synchronization](/docs/pagination-and-incremental-sync) guide for detailed usage examples.


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-surveyformdefinitionlist) permission.**

        '
      tags:
      - Survey Form Definition
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cursor:
                  $ref: '#/paths/~1brand.list/post/requestBody/content/application~1json/schema/properties/cursor'
                syncToken:
                  $ref: '#/paths/~1opening.list/post/requestBody/content/application~1json/schema/properties/syncToken'
                limit:
                  $ref: '#/paths/~1brand.list/post/requestBody/content/application~1json/schema/properties/limit'
              example:
                syncToken: 6W05prn4d
                cursor: qA
                limit: 25
      responses:
        '200':
          description: Responses for the surveyFormDefinition.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          $ref: '#/paths/~1surveyFormDefinition.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results'
                  required:
                  - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
