openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Communication Template API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Communication Template
paths:
  /communicationTemplate.list:
    post:
      summary: communicationTemplate.list
      description: 'List all enabled communication templates.


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-communicationtemplatelist) permission.**

        '
      operationId: communicationTemplateList
      tags:
      - Communication Template
      responses:
        '200':
          description: Responses for the communicationTemplate.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          allOf:
                          - type: object
                            description: A communication template
                            properties:
                              id:
                                $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              createdAt:
                                $ref: '#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt'
                              updatedAt:
                                $ref: '#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt'
                              title:
                                type: string
                                example: Rejection + Consideration for Future Positions
                              intendedTypes:
                                type: array
                                items:
                                  type: string
                                  enum:
                                  - email
                                  - inMail
                                  - linkedInConnection
                                example:
                                - email
                                - inMail
                            required:
                            - id
                            - title
                            - intendedTypes
                            - createdAt
                            - updatedAt
                    required:
                    - results
                - title: Error response
                  $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
