openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Offer Process API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Offer Process
paths:
  /offerProcess.start:
    post:
      summary: offerProcess.start
      operationId: offerProcess.start
      description: 'Starts an offer process for a candidate.


        **Requires the [`offersWrite`](authentication#permissions-offerprocessstart) permission.**

        '
      tags:
      - Offer Process
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationId:
                  allOf:
                  - description: The id of the application to start an offer process for
                  - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
              required:
              - applicationId
      responses:
        '200':
          description: Responses for the offerProcess.start endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: object
                        properties:
                          id:
                            allOf:
                            - description: The id of the started offer process
                            - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                          applicationId:
                            allOf:
                            - description: The id of the application the offer process was started for
                            - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                          status:
                            description: The status of the offer process
                            type: string
                            enum:
                            - WaitingOnOfferCreation
                            - WaitingOnApprovalStart
                            - WaitingOnOfferApproval
                            - WaitingOnCandidateResponse
                            - CandidateAccepted
                            - CandidateRejected
                            - OfferCancelled
                        required:
                        - id
                        - applicationId
                        - status
                    required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
