openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Application Feedback Request API
  description: Complete public API for accessing resources in your Ashby instance. Includes applications, candidates, jobs, interviews, offers, surveys, custom fields, organization metadata, files, reports, approvals, and webhooks.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Application Feedback Request
paths:
  /applicationFeedbackRequest.create:
    post:
      summary: applicationFeedbackRequest.create
      description: 'Request feedback on an application without scheduling an interview.

        The `interviewEventId` returned in the response can be provided to `applicationFeedback.submit` to

        complete the feedback request.


        The interview used must be configured to request feedback.


        **Requires the [`candidatesWrite`](authentication#permissions-applicationfeedbackrequestcreate) permission.**

        '
      operationId: applicationfeedbackrequestcreate
      tags:
      - Application Feedback Request
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - applicationId
                - interviewId
                - interviewerUserId
                properties:
                  applicationId:
                    allOf:
                    - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                    - description: The id of the application you are requesting feedback for
                  interviewId:
                    allOf:
                    - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                    - description: The id of the interview associated with this feedback request
                  interviewerUserId:
                    allOf:
                    - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                    - description: The user you are requesting feedback from
      responses:
        '200':
          description: Responses from the applicationFeedbackRequest.create endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: object
                        allOf:
                        - type: object
                          description: Represents a request for interview feedback on an application
                          properties:
                            interviewEventId:
                              allOf:
                              - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              - description: The id of the interview event created without scheduling
                            interviewerUserId:
                              allOf:
                              - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              - description: The id of the user whose feedback was requested
                            applicationId:
                              allOf:
                              - $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              - description: The id of the application feedback was requested for
                          required:
                          - interviewEventId
                          - interviewerUserId
                          - applicationId
                        example:
                          interviewEventId: f47ac10b-58cc-4372-a567-0e02b2c3d479
                          interviewerUserId: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                          applicationId: 550e8400-e29b-41d4-a716-446655440000
                    required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Send your Ashby API key as the username and leave the password blank.
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: HMAC-SHA256 signature of the webhook payload, used to verify webhook authenticity.
